<header id="dc-header" class="dc-header dc-haslayout dc-header-dashboard" style>
  <div class="dc-navigationarea">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <strong class="dc-logo"><a href="dashboard-insights.html"><img src="images/d-logo.png" alt="company logo here"></a></strong>
          <div class="dc-rightarea">
            <nav id="dc-nav" class="dc-nav navbar-expand-lg">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="lnr lnr-menu"></i>
              </button>
              <div class="collapse navbar-collapse dc-navigation" id="navbarNav">
                <ul class="navbar-nav nav-Js">
                  <li class="menu-item-has-children page_item_has_children "><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
                    <a href="javascript:void(0);">Health Forum</a>
                    <ul class="sub-menu">
                      <li><a href="javascript:void(0);">Health Forum</a></li>
                      <li><a href="javascript:void(0);">Health Forum Answer</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children page_item_has_children"><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
                    <a href="javascript:void(0);">How It Works?</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="javascript:void(0);">How It Works V1</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">How It Works V2</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children page_item_has_children"><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
                    <a href="javascript:void(0);">Pages</a>
                    <ul class="sub-menu">
                      <li class="menu-item-has-children page_item_has_children dc-notificationicon"><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
                        <a href="javascript:void(0);">Home</a>
                        <ul class="sub-menu menu-item-moved" style="left: auto; right: 100%;">
                          <li><a href="javascript:void(0);">Home Version 1</a></li>
                          <li class="dc-newnoti"><a href="javascript:void(0);">Home Version 2</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children page_item_has_children"><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
                        <a href="javascript:void(0);">Article</a>
                        <ul class="sub-menu menu-item-moved" style="left: auto; right: 100%;">
                          <li><a href="javascript:void(0);">Article List</a></li>
                          <li><a href="javascript:void(0);">Article Grid</a></li>
                          <li><a href="javascript:void(0);">Article Single</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children page_item_has_children"><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
                        <a href="javascript:void(0);">Search Result</a>
                        <ul class="sub-menu menu-item-moved" style="left: auto; right: 100%;">
                          <li><a href="javascript:void(0);">Search Result List V1</a></li>
                          <li><a href="javascript:void(0);">Search Result List V2</a></li>
                          <li><a href="javascript:void(0);">Search Result Grid</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="javascript:void(0);">Doctor Single</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">Hospital Single</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">About</a>
                      </li>
                      <li class="menu-item-has-children page_item_has_children"><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
                        <a href="javascript:void(0);">Contact Us</a>
                        <ul class="sub-menu menu-item-moved" style="left: auto; right: 100%;">
                          <li><a href="javascript:void(0);">Contact Us V1</a></li>
                          <li><a href="javascript:void(0);">Contact Us V2</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children page_item_has_children"><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span><span class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
                        <a href="javascript:void(0);">Coming Soon</a>
                        <ul class="sub-menu menu-item-moved" style="left: auto; right: 100%;">
                          <li><a href="javascript:void(0);">Comming Soon V1</a></li>
                          <li><a href="javascript:void(0);">Comming Soon V2</a></li>
                        </ul>
                      </li>
                      <li><a href="javascript:void(0);">404page</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
            <div class="dc-userlogedin">
              <figure class="dc-userimg">
                <img src="images/user-login.jpg" alt="image description">
              </figure>
              <div class="dc-username">
                <h4>Dr. Micheal</h4>
                <span>Doctor</span>
              </div>
              <nav class="dc-usernav">
                <ul>
                  <li>
                    <a href="dashboard-insights.html">
                      <i class="ti-dashboard"></i><span>Insights</span>
                    </a>
                  </li>
                  <li>
                    <a href="dashboard-appointmentlist.html">
                      <i class="ti-align-justify"></i><span>Appointment List</span>
                    </a>
                  </li>
                  <li>
                    <a href="dashboard-appointmentsetting.html">
                      <i class="ti-settings"></i><span>Appointment Setting</span>
                    </a>
                  </li>
                  <li>
                    <a href="dashboard-appointmentlocation.html">
                      <i class="ti-location-arrow"></i><span>Appointment Location</span>
                    </a>
                  </li>
                  <li>
                    <a href="dashboard-manageservices.html">
                      <i class="ti-shopping-cart"></i><span>Manage Services</span>
                    </a>
                  </li>
                  <li>
                    <a href="dashboard-manageteam.html">
                      <i class="ti-user"></i><span>Manage Team</span>
                    </a>
                  </li>
                  <li class="menu-item-has-children page_item_has_children">
                    <a href="dashboard-messages.html">
                      <i class="ti-email"></i><span>Messages</span>
                    </a>
                    <ul class="sub-menu">
                      <li><a href="javascript:void(0);">Inbox</a></li>
                      <li><a href="javascript:void(0);">Send</a></li>
                      <li><a href="javascript:void(0);">Trash</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="dashboard-managearticle.html">
                      <i class="ti-bookmark"></i><span>Manage Articles</span>
                    </a>
                  </li>
                  <li>
                    <a href="dashboard-accountsettings.html">
                      <i class="ti-settings"></i><span>Account Settings</span>
                    </a>
                  </li>
                  <li>
                    <a href="dashboard-securitysettings.html">
                      <i class="ti-shield"></i><span>Security Settings</span>
                    </a>
                  </li>
                  <li>
                    <a href="index.html">
                      <i class="ti-shift-right"></i><span>Logout</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
