<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <%= form_tag check_slots_bookings_path, method: :post, name: 'filter_form' do %>
            <div class="row no-margin">
              <div class="col-md-3">
                <div class="form-header">
                  <h2>Book Now</h2>
                </div>
              </div>
              <div class="col-md-7">
                <div class="row no-margin">
                  <div class="col-md-4">
                    <div class="form-group">
                      <span class="form-label">Start Day</span>
                      <input class="form-control" type="date" name="starts">
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <span class="form-label">Duration</span>
                      <select class="form-control" name="duration">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-btn">
                  <button class="submit-btn">Check availability</button>
                  <%# end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
