<section class="dc-haslayout">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
      <%= render 'bookings/partials/slots' %>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
      <%= render 'bookings/partials/all_schedules' %>
    </div>
  </div>
</section>
