<div id="calendar" style="height: 800px"></div>

<script>
    const Calendar = tui.Calendar;

    const calendar = new Calendar('#calendar', {
        defaultView: 'week',
        template: {
            time(event) {
                const { start, end, title } = event;

                return `<span style="color: white;">${start}~${end} ${title}</span>`;
            },
            allday(event) {
                return `<span style="color: gray;">${event.title}</span>`;
            },
        },
        calendars: [
            {
                id: 'cal1',
                name: 'Personal',
                backgroundColor: '#03bd9e',
            },
            {
                id: 'cal2',
                name: 'Work',
                backgroundColor: '#00a9ff',
            },
        ],
    });

    calendar.createEvents([
        {
            id: '1',
            calendarId: 'cal2',
            title: 'Weekly meeting',
            start: '2023-01-12T09:00:00',
            end: '2023-01-12T15:00:00',
        },
        {
            id: '2',
            calendarId: 'cal1',
            title: 'Lunch appointment',
            start: '2023-01-13T12:00:00',
            end: '2023-01-13T12:00:00',
        },
        {
            id: '3',
            calendarId: 'cal2',
            title: 'Vacation',
            start: '2023-01-14',
            end: '2023-01-14',
            isAllday: true,
            category: 'allday',
        },
    ]);
</script>
