
<button id="newScheduleBtn">New Schedule</button>
<button id="prevBtn">Prev</button>
<button id="nextBtn">Next</button>
<div id="calendar" style="height: 800px"></div>

<script>
    const Calendar = window.tui.Calendar;

    const calendar = new Calendar('#calendar', {
        defaultView: 'week',
        template: {
            time(event) {
                const { end, title } = event;

                return `<span style="color: white;">${title} [Until ${end}]</span>`;
            },
            allday(event) {
                return `<span style="color: gray;">${event.title}</span>`;
            },
        },
        calendars: [
            {
                id: 'unavailable',
                name: 'Unavailable',
                backgroundColor: '#78787878',
            },
            {
                id: 'personal',
                name: 'Personal',
                backgroundColor: '#078878',
            },
        ],
    });

    $.ajax({
        url: '/bookings/scheduled',
        type: "get",
        data: "",
        success: function(data) {
            calendar.createEvents(data);
            // const dateToMove = new Date(event.date);
            // calendar.on('clickDayName', (event) => {
            //     if (calendar.getViewName() === 'week') {
            //
            //
            //         calendar.setDate(dateToMove);
            //         calendar.changeView('day');
            //     }
            // });
        },
        error: function(data) {}
    });

    calendar.setOptions({
        week: {
            taskView: false,
        }
    });

    const newBtn = document.getElementById("newScheduleBtn");
    const prevBtn = document.getElementById("prevBtn");
    const nextBtn = document.getElementById("nextBtn");

    newBtn.addEventListener("click", e => {
        calendar.openCreationPopup({
            start: new moment("2015-12-24").format("YYYY-MM-DD"),
            end: new moment("2015-12-24").format("YYYY-MM-DD")
        });
    });

    prevBtn.addEventListener("click", e => {
        calendar.prev();
    });

    nextBtn.addEventListener("click", e => {
        calendar.next();
    });
</script>
